<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->

<input type="text" class="form-control"
[(ngModel)]="serverName">
<!-- [(ngModel)]="" Two-Way-Binding combine property binding & event binding [()] -->


<button class="btn btn-primary"
[disabled] = "!allowNewServer"
(click)="onCreateServer()">Add Server</button> <!--(click)="" Event Binding-->

<!-- <p>{{ allowNewServer }}</p>              String Interpolation -->
<!--<p [innerText] = "allowNewServer"></p>    Property Binding -->
<!-- <p>{{ serverName }}</p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated; else noServer">Server was created! Name is {{ serverName }}</p>
<!-- * indicates that structure directive DOM will be changed -->
<ng-template #noServer>
  <p>No Server was created.</p>
</ng-template>

<hr>

<label>User Name</label>

<input type="text" class="form-control" [(ngModel)]="userName">

<p>{{ userName }}</p>

<button class="btn btn-primary"
[disabled]="userName === ''"
(click)="userName = ''">Reset User</button>

<app-server *ngFor="let server of servers"></app-server>
